# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/

# Environment & secrets
.env
.env.*        # in case you ever make per-env files
*.pem
*.key

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data
positions.json
*.tmp
